body {
    background-color: #ededed;
    margin: 0 0 0 20px;
}

.full {
    display: flex;
    justify-content: center;
}

.header--one {
    display: inline-block;
    width: 100%;
    height: 80px;
    background-color: red;
    text-align: center;
}

.header-logo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 30px;
}

.header-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.heaser__banner {
    display: block;
    color: yellow;
    margin: 30px 0;
    font-weight: 600;
    font-size: 1.8rem;
}

/*tien ich*/
.header__tienich {
    background-color: #ff6a00;
}

.header__tienich-danhmuc {
    text-align: center;
}

.header__tienich-danhmuc-list {
    display: inline-block;
    list-style: none;
}

.header__tienich-danhmuc-item {
    margin: 0 80px;
    display: inline-block;
    font-weight: 600;
}

.header__tienich-danhmuc-item-link {
    text-decoration: none;
    color: black;
}

.header__tienich-danhmuc-item-link:hover {
    color: yellow;
}

.header__tienich-danhmuc-item-list:hover .sanpham {
    display: block;
}

/*san pham cua san pham*/
.sanpham {
    padding: 10px 0 10px -20px;
}

.sanpham {
    display: none;
    content: "";
    width: 300px;
    height: 300px;
    background-color: #b9b3b3;
    position: absolute;
    border-radius: 2px;
}

.sanpham--sanpham-list {
    display: inline;
}

.sanpham--sanpham {}

.sanpham--sanpham-item {
    display: block;
    list-style: none;
    margin: 10px 0;
    padding: 20px 10px;
    text-align: left;
    border-radius: 2px;
    color: white;
}

.sanpham--sanpham-item:hover {
    background-color: yellow;
    color: black;
}

/**/
.rigd {
    width: 1500px;
}

.row {
    display: flex;
    width: 100%;
}

.row-60 {
    width: 70%;
}

.row-40 {
    width: 30%;
    border: 3px solid black;
}

.tb {
    margin: 0 50px;
}

.tb--list {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 600px;
}

.tb--item img {
    width: 200px;
    height: 100px;
    border: 1px solid BLACK;
    margin: 0 10px;
}

.tb--list h3:hover {
    color: red;
}

/*PRODUCT*/
.product--list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    text-align: center;
    flex-wrap: wrap;
}

.product--item {
    display: block;
    font-size: 1.6rem;
    background-color: #ff6a00;
    width: 200px;
    height: 203px;
    margin: 25px;
    padding: 20px;
}

.product--item a {
    text-decoration: none;
    color: black;
}

.product--item:hover {
    color: rgb(243, 27, 74);
}

.footer-tab {
    background-color: black;
    width: 100%;
    height: 200px;
    margin: 0 0 0 30px;
}

.footer-tab h1 {
    color: white;
    font-size: 1.6rem;
}

.contents {
    display: flex;
    margin: 10px 0;
    justify-content: center;

}

.gia__sanpham {
    list-style: none;
}

.a {
    margin: 50px 0;
    text-decoration: none;
    color: yellow;
}

.a a {
    text-decoration: none;
    color: orange;
}

.ten {
    padding: 5px 43px;
    max-width: 89px;
    overflow: hidden;
}